<div class="row justify-content-center mt-3 ">
    <p class="display-6">Filtros</p>
    <form class="row g-3 text-center mb-2" autocomplete="off" (ngSubmit)="filterStories(formFilter)" #formFilter="ngForm">
        <div class="col-lg-4">
            <input 
                class="form-control me-2" 
                type="search" 
                placeholder="Títluo" 
                aria-label="Search"
                required
                maxlength="20"
                name="titulo"
                [(ngModel)]="filtros.titulo"
                #titloRef = "ngModel"
            >
        </div>
        <div class="col-lg-4">
        <select 
            required
            name="narrativa"
            [(ngModel)]="filtros.narrativa"
            #refNarrativa="ngModel"                                                
            class="form-select me-2" 
            aria-label="Default select example">                                                
            <option value="novela">Novela</option>
            <option value="cuento">Cuento</option>
            <option value="mito">Mito</option>
            <option value="anécdota">Anécdota</option>
            <option value="fábula">Fábula</option>
            <option value="leyenda">Leyenda</option>
        </select>
        </div>
        <div class="col-lg-4">
            <button 
                class="btn btn-outline-dark rounded-pill" 
                type="submit"
                [disabled]="refNarrativa.invalid && titloRef.invalid"
            >Filtrar</button>
        </div>
    </form>

    <div class="col-lg-12 text-center" *ngIf="historias.length === 0 && wasSearched; else elseTemplate">
        <p class="display-6 highlight-text m-4">No hay historias registradas</p>
        <i class="bi bi-book"></i>  
    </div>
    
    <ng-template #elseTemplate>
        <div class="card col-lg-4 m-2" style="width: 18rem;" *ngFor="let hist of historias">
            <div class="card-body">
                <h5 class="card-title display-6">{{hist.titulo}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="">
                        Autor: <a [routerLink]="[ '/escritor', hist.fk_escritor ]">{{autor}}</a>
                    </li>
                    <li class="">Narrativa: {{hist.narrativa}}</li>
                    <li class="">Género: {{hist.genero}}</li>
                    <li class="">Fecha de publicación: {{hist.createdAt}}</li>
                    <li class="">
                        <p>Valoración</p>
                        <app-valoracion [idHistoria]="hist.id" ></app-valoracion>
                    </li>
                </ul>
                <a class="btn btn-outline-dark rounded-pill m-2" [routerLink]="[ '/reading', hist.id ]">Leer</a>
                <a *ngIf="editable" class="btn btn-outline-dark rounded-pill m-2" [routerLink]="[ '/writting', hist.id ]">Editar</a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-dark rounded-pill" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    sinopsis
                </button>
    
                <!-- Modal -->
                <div class="modal fade z-index" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Sinopsis</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>{{hist.sinopsis}}</p>                         
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    
</div>