<section class="container-fluid bg-app-container p-4">
    <div class="card p-3 mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 text-center p-2">
                    <img src="https://picsum.photos/seed/picsum/300/300" class="img-fluid rounded-circle" alt="...">
                </div>
                <div class="col-lg-6">
                    <h4 class="display-3 highlight-text">@username</h4>
                    <h5 class="highlight-text"><i>About me</i></h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque alias vel repellendus blanditiis
                        officiis nobis, voluptatum dolorum natus eius autem atque vitae ut eveniet sapiente quos illo.
                        Debitis, consequuntur ut.</p>
                    <h5><span class="highlight-text">Email:</span>  user@user.com</h5>
                    <h5><span class="highlight-text">Libros publicados:</span> 23</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="card p-3">
        <h3 class="display-4 text-center">Mis historias</h3>
        <form class="row g-3 text-center">
            <div class="col-lg-4">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-lg-4">
                <select class="form-select me-2" aria-label="Default select example">
                    <option selected>Genero</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-outline-dark rounded-pill" type="button">Filtrar</button>
            </div>
        </form>
        <div class="row justify-content-center mt-3">
            
            <div class="card col-lg-4 m-2" style="width: 18rem;">
                <img src="https://picsum.photos/200/200?grayscale" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Titluo</h5>
                    <p class="card-text">Autor: @userautor</p>
                    <p class="card-text">Fecha de publicación: 23-12-10</p>
                    <p>Valoración: 
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>                                     
                    <a href="#" class="btn btn-outline-dark rounded-pill m-2">Ver</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark rounded-pill" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        sinopsis
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Sinopsis</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam incidunt aliquam aliquid voluptatibus soluta quae, voluptates expedita ipsum facere dignissimos eaque, alias quia porro dicta. Minus blanditiis quasi rem maxime.</p>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam incidunt aliquam aliquid voluptatibus soluta quae, voluptates expedita ipsum facere dignissimos eaque, alias quia porro dicta. Minus blanditiis quasi rem maxime.</p>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam incidunt aliquam aliquid voluptatibus soluta quae, voluptates expedita ipsum facere dignissimos eaque, alias quia porro dicta. Minus blanditiis quasi rem maxime.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>