<section class="container-fluid p-4">
    <div class="card p-3 mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 text-center p-2">
                    <img [src]="escritor.imagenURL" class="img-fluid rounded-circle" alt="..." style="width: 30%;">
                    <form class="row g-3 mt-2" autocomplete="off">                       
                        <div class="col-auto">                            
                            <input
                                required
                                accept="image/*"
                                #refPhoto
                                class="form-control" 
                                type="file" 
                                id="formFile"
                            >
                        </div>
                        <div class="col-auto">
                            <button 
                                type="button" 
                                (click)="changePhoto(refPhoto)"                                
                                class="btn bg-app rounded-pill text-white"><i class="bi bi-camera-fill"></i> Cambiar foto</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <h4 class="display-3 highlight-text">{{escritor.username}}</h4>
                    <h5 class="highlight-text "><i>About me</i></h5>
                    <p class="">{{escritor.about}}</p>
                    <h5 class=""><span class="highlight-text">Email:</span> {{escritor.email}}</h5>
                    <h5 class=""><span class="highlight-text">Libros publicados: </span> {{escritor.numhist}}</h5>
                    <button type="button" class="btn bg-app rounded-pill text-white mt-2" data-bs-toggle="modal"
                        data-bs-target="#newHistoryModal"><i class="bi bi-plus-circle-fill m-2"></i>Crear historia</button>

                    <!-- Modal -->
                    <div class="modal fade" id="newHistoryModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Crear nueva historia</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form autocomplete="off" (ngSubmit)="createStory(formRefStory)" #formRefStory ="ngForm">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Titluo de lahistoria</label>
                                            <input 
                                                type="text" 
                                                class="form-control"                                                
                                                autocomplete="false"
                                                name="titulo"
                                                required
                                                maxlength="100"
                                                [(ngModel)]="story.titulo"
                                                #titleRef = "ngModel"
                                                [class.is-inavlid]="titleRef.invalid && titleRef.touched"
                                            >
                                            <small             
                                                class="form-text text-danger"
                                                *ngIf="titleRef.invalid && titleRef.touched"
                                                >
                                                El título es requerido (podrás cambiarlo más adelante).
                                            </small>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">Tipo de texto
                                                narrativo</label>
                                            <select 
                                                required
                                                name="narrativa"
                                                [(ngModel)]="story.narrativa"
                                                [class.is-invalid]="refNarrativa.invalid && refNarrativa.touched"
                                                #refNarrativa="ngModel"                                                
                                                class="form-select me-2" 
                                                aria-label="Default select example">                                                
                                                <option value="novela">Novela</option>
                                                <option value="cuento">Cuento</option>
                                                <option value="mito">Mito</option>
                                                <option value="anécdota">Anécdota</option>
                                                <option value="fábula">Fábula</option>
                                                <option value="leyenda">Leyenda</option>
                                            </select>
                                            <small             
                                                class="form-text text-danger"
                                                *ngIf="refNarrativa.invalid && refNarrativa.touched"
                                                >
                                                La narrativa es requerida (podrás cambiarla más adelante).
                                            </small>
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Género</label>
                                            <input 
                                                type="text" 
                                                class="form-control"
                                                name="genero"
                                                [(ngModel)]="story.genero"                                
                                            >
                                            <div id="emailHelp" class="form-text">Puede quedar vacío.</div>
                                        </div>
                                        <button [disabled]="refNarrativa.invalid || titleRef.invalid" type="submit" class="btn bg-app text-white rounded-pill">Crear</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card p-3">
        <h3 class="display-4 text-center highlight-text">Mis historias</h3>
        <app-historias [editable]="true" [historias]="historias" ></app-historias>        
    </div>
</section>