<section class="container-fluid p-4">
    <div class="card p-3 mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 text-center p-2">                                      
                   <!-- LOADING IMAGE PROFILE -->
                   <app-loader [isVisible]="loadingStories" *ngIf="loadingStories; else imageLoaded"></app-loader>                                  
                   <ng-template #imageLoaded>
                       <img [src]="escritor.imageURL" class="img-fluid rounded-circle" alt="..." style="width: 30%;">
                   </ng-template>
                </div>
                <div class="col-lg-6">
                    <h4 class="display-3 highlight-text">{{escritor.username}}</h4>
                    <h5 class="highlight-text"><i>About me</i></h5>
                    <p>{{escritor.about}}</p>
                    <h5><span class="highlight-text">Email:</span> {{escritor.email}}</h5>
                    <h5><span class="highlight-text">Libros publicados:</span> {{escritor.numHist}}</h5>                    
                </div>
            </div>
        </div>
    </div>
    <div class="card p-3">
        <h3 class="display-4 text-center highlight-text">Historias del autor</h3>
        <!-- FILTERS COMPONENT -->
        <app-filters (passFilters)="getFilters($event)"></app-filters>
        <!-- LOADER COMPONENT -->
        <app-loader [isVisible]="loadingStories" [message]="messageLoadingStories"></app-loader>
        <!-- hISTROIAS COMPONENT -->
        <app-historias [editable]="false" [autor]="escritor.username" [historias]="escritor.historias" ></app-historias>       
    </div>
</section>