<section class="container-fluid p-4">
    <div class="card p-3 mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 text-center p-2">
                    <img src="https://picsum.photos/seed/picsum/300/300" class="img-fluid rounded-circle" alt="...">
                </div>
                <div class="col-lg-6">
                    <h4 class="display-3 highlight-text">@username</h4>
                    <h5 class="highlight-text"><i>About me</i></h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque alias vel repellendus blanditiis
                        officiis nobis, voluptatum dolorum natus eius autem atque vitae ut eveniet sapiente quos illo.
                        Debitis, consequuntur ut.</p>
                    <h5><span class="highlight-text">Email:</span> user@user.com</h5>
                    <h5><span class="highlight-text">Libros publicados:</span> 23</h5>                    
                </div>
            </div>
        </div>
    </div>
    <div class="card p-3">
        <h3 class="display-4 text-center highlight-text">Historias del autor</h3>
        <app-historias></app-historias>        
    </div>
</section>