<section class="container-fluid bg-app-container p-4">
    <div class="card p-3 mb-2">
        <div class="card-body">
            <div class="row">
                <h4 class="display-5 highlight-text">Datos generales</h4>
                <div class="col-lg-6">
                    <form autocomplete="off" (ngSubmit)="saveStory()">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Titluo de la
                                historia</label>
                            <input 
                                type="text" 
                                class="form-control"
                                required 
                                name="titulo"
                                [(ngModel)]="historia.titulo"
                                [class.is-invalid] = "refTitulo.invalid && refTitulo.touched"
                                #refTitulo="ngModel"
                                aria-describedby="" autocomplete="false"
                            >
                            <small             
                                class="form-text text-danger"
                                *ngIf="refTitulo.invalid && refTitulo.touched"
                                >
                                El título es requerido.
                            </small>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Tipo de texto
                                narrativo</label>
                            <select 
                                required
                                name="narrativa"
                                [(ngModel)]="historia.narrativa"
                                [class.is-invalid]="refNarrativa.invalid && refNarrativa.touched"
                                #refNarrativa="ngModel"                                                
                                class="form-select me-2" 
                                aria-label="Default select example">                                                
                                <option value="Novela">Novela</option>
                                <option value="Cuento">Cuento</option>
                                <option value="Mito">Mito</option>
                                <option value="Anécdota">Anécdota</option>
                                <option value="Fábula">Fábula</option>
                                <option value="Leyenda">Leyenda</option>
                            </select>
                            <small             
                                class="form-text text-danger"
                                *ngIf="refNarrativa.invalid && refNarrativa.touched"
                                >
                                La narrativa es requerida.
                            </small>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Género</label>
                            <input 
                                type="text" 
                                class="form-control"
                                name="genero"
                                [(ngModel)]="historia.genero"                                
                            >
                            <div id="emailHelp" class="form-text">Puede quedar vacío.</div>
                        </div>
                        <div class="mb-3">
                            <textarea 
                                [(ngModel)]="historia.sinopsis"
                                name="sinopsis"
                                class="form-control" placeholder="Agrega sinopsis a tu historia" id="floatingTextarea2"
                                style="min-height: 100px; max-height: 100px"></textarea>
                            <label for="floatingTextarea2">Sinopsis</label>
                        </div>
                        <div class="mb-3 form-check">
                            <input
                                [(ngModel)]="historia.status"
                                name="status" 
                                type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">¿Has terminado tu historia?</label>
                        </div>
                        <!-- Error on save -->
                            <div class="row text-center">
                                <p class="text-success" *ngIf="wasSavedStory">Cambios guardados, exitosamente.</p>
                                <p class="text-danger" *ngIf="errorOnSaved">Los cambios no fueron guardados.</p>
                            </div>
                        <!-- End error on save -->
                        <button
                             
                            [disabled]="refTitulo.invalid || refNarrativa.invalid || savingStroy"
                            type="submit" 
                            class="btn btn-dark rounded-pill">
                            <div *ngIf="savingStroy; else SavingFinished">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Gurdando...
                            </div>
                            <ng-template #SavingFinished>
                                <i class="bi bi-save2-fill m-2"></i>
                                Guardar
                            </ng-template>                                                        
                        </button>
                    </form>
                </div>
                <div class="col-lg-6">
                    <h5>Valoración</h5>                    
                    <app-valoracion [idHistoria]="idHistoriaURL"></app-valoracion>
                    <div *ngIf="deletingStory; else DeletingFinished">
                        <app-loader [isVisible]="deletingStory" [message]="'Eliminando...'"></app-loader>
                    </div>
                    <ng-template #DeletingFinished>
                        <button (click)="errorOnDelete=false" data-bs-target="#deleteModal" data-bs-toggle="modal" type="button" class="btn btn-danger rounded-pill"><i class="bi bi-trash-fill m-2"></i>Eliminar</button>                       
                    </ng-template>
                    <p class="text-danger mt-2" *ngIf="errorOnDelete">La historia no pudo ser eliminada</p>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar historia</h5>
                            <button [disabled]="deletingStory" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">                                
                                <div class="row text-center">                                    
                                    <p>¿Seguro que deseas eliminar tu historia?</p>                                                                                        
                                </div>                                
                            </div>
                            <div class="modal-footer">
                            <button #refBtnModal [disabled]="deletingStory" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, conservar</button>
                            <button [disabled]="deletingStory" type="button" class="btn btn-primary" (click)="deleteStory(refBtnModal)">Si, borrar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card p-3 mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="display-5 highlight-text">Redacción</h4>
                    <p>Nunca olvides guardar los cambios de tu historia ...</p>  
                    <app-editor (passStoryContent)="recoverContent($event)" ></app-editor>                 
                </div>
            </div>
        </div>
    </div>
</section>