.coverpage-bg{   
    height: 100vh;
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.vanish{
    width: 100%;
    height: 100vh;
    background: rgb(74, 26, 119);
    background: linear-gradient(360deg, rgb(98, 16, 105) 0%, rgba(0,0,0,0.718717345336572) 100%);
}