<section class="container-fluid bg-app-container p-4">
    <div class="card p-3 mb-2">
        <div class="card-body">
            <div class="row">
                <h4 class="display-5 highlight-text">Datos generales</h4>
                <div class="col-lg-6">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Titulo: La Iliada</li>
                        <li class="list-group-item">Narrativa: Novela</li>
                        <li class="list-group-item">Género: Terror</li>
                        <li class="list-group-item">Autor: <a [routerLink]="[ '/escritor', 543 ]">@user</a> </li>
                        <li class="list-group-item">
                            <app-valoracion></app-valoracion>
                        </li>
                    </ul>                    
                </div>
                <div class="col-lg-6">
                    <h5>¿Te gustó la historia? Valórala con estrellas.</h5>
                    <app-asignvalue></app-asignvalue>
                </div>
            </div>
        </div>
    </div>

    <div class="card p-3 mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="display-5 highlight-text">Modo lectura</h4>
                    <p>Recuaerda que esta historia es propiedad de quien la escrtibe, si la compartes no olvdes atribuir al autor.</p>  
                    <app-editor [isEditable]="'readonly'"></app-editor>                 
                </div>
            </div>
        </div>
    </div>

    <div class="card p-3 mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="display-5 highlight-text">Comentarios</h4>
                    <div class="row p-2">
                        <div class="col-lg-12">
                            <form autocomplete="off" (ngSubmit)="sendComent(comenterioForm)" #comenterioForm="ngForm" >
                                <div class="mb-3">
                                    <textarea 
                                        required
                                        maxlength="400"
                                        name="comentario"
                                        #refComentario="ngModel"
                                        [(ngModel)]="comentario"
                                        style="min-height: 100px; max-height: 100px" class="form-control" placeholder="Deja tus comentarios" id="floatingTextarea2"></textarea>    
                                </div>
                                <button
                                    [disabled]="refComentario.invalid" 
                                    type="submit" class="btn btn-dark rounded-pill">Comentar</button>
                            </form>
                        </div>
                        <div class="col-lg-12 p-3">
                            <app-comentarios></app-comentarios>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>