
<div class="row text-center justify-content-center">
    <div class="spinner-border col-lg-12 m-3" role="status" *ngIf="isLoadedValoracion; else elseTemplate">
        <span class="visually-hidden">Loading...</span>
    </div>
    <ng-template #elseTemplate>
        <div class="col-lg-12">
            <p class="valoracion" >
                <span *ngFor="let valor of valoraciones; index as idx;" >
                    <i *ngIf="valoracion <= idx ; else elseBlock" class="bi bi-star"></i>
                    <ng-template #elseBlock>
                        <span ><i class="bi bi-star-fill"></i></span>        
                    </ng-template>
                </span>    
            </p>
        </div>
    </ng-template>
    
</div>