/* You can add global styles to this file, and also import other style files */
.bi-star-fill {
    color: orange;
}

.valoracion > span {
  font-size: 20px;
}

.valoracion > span {
  display: inline-block;
}

body{    
  
  background: rgb(80,26,119);
  background: linear-gradient(360deg, rgba(80,26,119,1) 0%, rgba(0,0,0,1) 100%);
}


.highlight-text{
  color: rgb(80,26,119);
}


.bg-app{
  background-color: rgb(80,26,119);;
}