<section class="container-fluid p-4">
    <div class="card p-3 mb-2">
        <div class="card-body">
            <h3 class="display-4 text-center highlight-text">Descubrir historias</h3>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur dolore minus corporis? Error, eos? Cumque dolores placeat omnis minima, magnam recusandae ratione corrupti. Aperiam in officiis aliquid est soluta voluptate.</p>
        </div>
    </div>

    <div class="card p-3">
        <h3 class="display-4 text-center highlight-text">Historias</h3>
        <app-historias></app-historias>        
    </div>
</section>