<section class="container-fluid p-4">
    <div class="card p-3 mb-2">
        <div class="card-body text-center">
            <h3 class="display-4 text-center highlight-text">Descubrir historias</h3>
            <p class="display-6">
                Disfruta escribiendo y compariendo tus relatos con <b>SPEN</b>
            </p>
            <p class="card-text">
                Una historia es un relato narrativo de un evento o una secuencia de eventos. Puede ser verdad o ficción. Pero una buena historia siempre tiene un elemento central verdadero, aún si es ficción. El mensaje que da la narración debe ser verdadero. Debe ser consistente y auténtico.
                Contar cuentos es el arte de narrar historias con el fin de captar una audiencia.                 
            </p>
            <p>
                El cuentacuentos transmite un mensaje, información y conocimientos de forma entretenida. Sus herramientas son las técnicas literarias y lenguaje no verbal.
            </p>            
            <p>
                Descubrir nuevas historias es descubrir nuevas mentes...
            </p>
            <br>
            <blockquote>
                <b>PAUL AUSTER</b>
                <i>
                    -"Los escritores somos seres heridos. Por eso creamos otra realidad"

                </i>
            </blockquote>
        </div>
    </div>

    <div class="card p-3">
        <h3 class="display-4 text-center highlight-text">Historias</h3>
        <!-- LOADER COMPONENT -->
        <app-loader [isVisible]="loadingStories" [message]="messageLoadingStories"></app-loader>
        <!-- FILTERS COMPONENT -->
        <app-filters (passFilters)="getFilters($event)"></app-filters>
        <!-- HISTROIAS COMPONENT -->
        <app-historias [editable]="false" [historias]="historias" *ngIf="wasSearchd"></app-historias>        
    </div>
</section>